.track__button_right::after {
  content: url("../../../../images/button_right.svg");
  position: absolute;
  top: 16px;
  left: 21px;
}

@media (max-width: 480px) {
  .track__button_right::after {
  content: url("../../../../images/right_480.svg");
  position: absolute;
  top: 3px;
  left: 10px;
  }  
}