.header__menu {
  display: none;
}

@media (max-width: 480px) {
  .header__menu {
    display: inline-block;
    width: calc(22px + (31 - 22) * ((100vw - 320px) / (480 - 320)));
    height: 3px;
    background-color: #151515;
  }  
}